{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "extends": ["plugin:prettier/recommended"],
  "globals": {
    "browser": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
